body {
    background-color: #fff;
    color: #000;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
    font-weight: 400;
}

.header__menu-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__menu-link,
a[href^="mailto:"],
a[href^="tel:"] {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header__menu-link.active {
    border-bottom: none;
}

.header__menu-item.active {
    list-style: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header-logo-image {
    height: 100%;
}

.address {
    display: block;
    align-items: flex-start;
    width: 240px;
    max-height: 98px;
    justify-self: end;
    line-height: 1.24;
}

.contacts-item {
    height: 24px;
}

.cover {
    min-height: 757px;
    position: relative;
}